
</br>
<div class="container">

    <%= form_for(@group) do |f| %>
        <%= f.hidden_field :originator, {:value => current_user.id} %>
        <div class="row">
            <%= f.label :name, :class => "col-md-1"%>
            <div class="col-md-6">
                <%= f.text_field :name, :style=>"width:300px;"%>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <%= f.label :description, :class => "col-md-1" %>
            <div class="col-md-6">
                <%= f.text_field :description, :style=>"width:300px;" %>
            </div>
        </div>

        <h3>Annotations to share:</h3>
        <div id="checkbox" style="margin-left:5px">
            <% user_annotations.each do |anno| %>
                <p><%= check_box_tag "group[annotation_collection_ids][]", anno.id %>
                    <%= image_tag(anno.icon) %>
                    <%= label_tag dom_id(anno), anno.name, :class => "check_box_label" %>
                </p>
            <% end %>
        </div>

        <h3>Users belonging to this group</h3>
        <h5 style="margin-left: 20px;">*Comma Seperated for multiple Users</h5>
        <%= f.autocomplete_field :username, autocomplete_user_username_users_path, :"data-delimiter" => ',', :style => 'width:350px;' %>


        <p style="margin: 10px 250px;">
            <%= f.submit %>
        </p>
    <% end %>