<h1>How to reassign node attribute in Cytoscape</h2>


    </br>
    <h3>Step 1: </h3>
    <%=image_tag('Cytoscape_rename_node_step1.png', :style=>'margin-left:10px')%>

    </br>
    <h3>Step 2: </h3>
    <%=image_tag('Cytoscape_rename_node_step2.png', :style=>'margin-left:10px')%>

    </br>
    <h3>Step 3: </h3>
    <%=image_tag('Cytoscape_rename_node_step3.png', :style=>'margin-left:10px')%>

    </br>
    <h3>Step 4: </h3>
    <%=image_tag('Cytoscape_rename_node_step4.png', :style=>'margin-left:10px')%>

    </br>
    <h3>Step 5: </h3>
    <%=image_tag('Cytoscape_rename_node_step5.png', :style=>'margin-left:10px')%>

    </br>
    <h3>Step 6: </h3>
    <%=image_tag('Cytoscape_rename_node_step6.png', :style=>'margin-left:10px')%>

    </br>
    <h3>Step 7: </h3>
    <%=image_tag('Cytoscape_rename_node_step7.png', :style=>'margin-left:10px')%>